.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 20px 30px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
    
}
.cart-container{
    background-color: rgba(235, 125, 0, 0.219);
    height: 100vh;
    padding: 30px 20px;
    position: sticky;
    top: 0;
}

